/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Abbildungslegende;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	max-id: 5;
	background-color: #cdcfcf;
	cell-padding-top: 1px;
	margin-top: 1px;
	margin-bottom: 8pt;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Spalte1;
	id: 0;
	type: Header;
	size: 1cm;
	cell-content-style-tag: p;
	cell-content-style-class: PosNr;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Spalte2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	type: Automatic;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Abbildungslegende
{
	border-collapse: collapse;
	background-color: #cdcfcf;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	margin-top: 1px;
	margin-bottom: 8pt;
	border-spacing: 0px 0px;
}

.TableStyle-Abbildungslegende-Column-Spalte1
{
	width: 1cm;
}

.TableStyle-Abbildungslegende-Column-Spalte2
{
	
}

.TableStyle-Abbildungslegende-Head-Header1
{
	
}

.TableStyle-Abbildungslegende-HeadI-Spalte1-Header1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-HeadI-Spalte1-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadE-Spalte1-Header1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Abbildungslegende-HeadE-Spalte1-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadF-Spalte1-Header1
{
	padding-top: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Abbildungslegende-HeadF-Spalte1-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadH-Spalte1-Header1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-HeadH-Spalte1-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadD-Spalte1-Header1
{
	padding-top: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Abbildungslegende-HeadD-Spalte1-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadC-Spalte1-Header1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-HeadC-Spalte1-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadB-Spalte1-Header1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-HeadB-Spalte1-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadA-Spalte1-Header1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-HeadA-Spalte1-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadG-Spalte1-Header1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-HeadG-Spalte1-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadI-Spalte2-Header1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-HeadI-Spalte2-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadE-Spalte2-Header1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Abbildungslegende-HeadE-Spalte2-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadF-Spalte2-Header1
{
	padding-top: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Abbildungslegende-HeadF-Spalte2-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadH-Spalte2-Header1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-HeadH-Spalte2-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadD-Spalte2-Header1
{
	padding-top: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Abbildungslegende-HeadD-Spalte2-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadC-Spalte2-Header1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-HeadC-Spalte2-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadB-Spalte2-Header1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-HeadB-Spalte2-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadA-Spalte2-Header1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-HeadA-Spalte2-Header1 p
{
	
}

.TableStyle-Abbildungslegende-HeadG-Spalte2-Header1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-HeadG-Spalte2-Header1 p
{
	
}

.TableStyle-Abbildungslegende-Foot-Footer1
{
	
}

.TableStyle-Abbildungslegende-FootI-Spalte1-Footer1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-FootI-Spalte1-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootE-Spalte1-Footer1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Abbildungslegende-FootE-Spalte1-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootF-Spalte1-Footer1
{
	padding-top: 1px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Abbildungslegende-FootF-Spalte1-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootH-Spalte1-Footer1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-FootH-Spalte1-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootD-Spalte1-Footer1
{
	padding-top: 1px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Abbildungslegende-FootD-Spalte1-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootC-Spalte1-Footer1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-FootC-Spalte1-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootB-Spalte1-Footer1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-FootB-Spalte1-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootA-Spalte1-Footer1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-FootA-Spalte1-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootG-Spalte1-Footer1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-FootG-Spalte1-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootI-Spalte2-Footer1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-FootI-Spalte2-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootE-Spalte2-Footer1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Abbildungslegende-FootE-Spalte2-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootF-Spalte2-Footer1
{
	padding-top: 1px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Abbildungslegende-FootF-Spalte2-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootH-Spalte2-Footer1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-FootH-Spalte2-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootD-Spalte2-Footer1
{
	padding-top: 1px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Abbildungslegende-FootD-Spalte2-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootC-Spalte2-Footer1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-FootC-Spalte2-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootB-Spalte2-Footer1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-FootB-Spalte2-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootA-Spalte2-Footer1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-FootA-Spalte2-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-FootG-Spalte2-Footer1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-FootG-Spalte2-Footer1 p
{
	
}

.TableStyle-Abbildungslegende-Body-Body1
{
	
}

.TableStyle-Abbildungslegende-BodyI-Spalte1-Body1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-BodyI-Spalte1-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyE-Spalte1-Body1
{
	padding-top: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-BodyE-Spalte1-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyF-Spalte1-Body1
{
	padding-top: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Abbildungslegende-BodyF-Spalte1-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyH-Spalte1-Body1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-BodyH-Spalte1-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyD-Spalte1-Body1
{
	padding-top: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Abbildungslegende-BodyD-Spalte1-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyC-Spalte1-Body1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-BodyC-Spalte1-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyB-Spalte1-Body1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-BodyB-Spalte1-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyA-Spalte1-Body1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-BodyA-Spalte1-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyG-Spalte1-Body1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-BodyG-Spalte1-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyI-Spalte2-Body1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-BodyI-Spalte2-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyE-Spalte2-Body1
{
	padding-top: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-BodyE-Spalte2-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyF-Spalte2-Body1
{
	padding-top: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Abbildungslegende-BodyF-Spalte2-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyH-Spalte2-Body1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-BodyH-Spalte2-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyD-Spalte2-Body1
{
	padding-top: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Abbildungslegende-BodyD-Spalte2-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyC-Spalte2-Body1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-BodyC-Spalte2-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyB-Spalte2-Body1
{
	padding-top: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Abbildungslegende-BodyB-Spalte2-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyA-Spalte2-Body1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-BodyA-Spalte2-Body1 p
{
	
}

.TableStyle-Abbildungslegende-BodyG-Spalte2-Body1
{
	padding-top: 1px;
}

.TableStyle-Abbildungslegende-BodyG-Spalte2-Body1 p
{
	
}


