/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Hinweis;
	border-spacing-y: 0;
	border-spacing-x: 0;
	border-collapse: collapse;
	max-id: 3;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #004488;
	margin-top: 12px;
	margin-bottom: 12px;
	page-break-inside: avoid;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #004488;
	column-break-inside: avoid;
	frame-break-inside: avoid;
}

mcTableColumnStyle
{
	span: 1;
	name: Symbol;
	id: 0;
	size: 20mm;
	text-align: center;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 3;
	name: Text;
	text-align: left;
	vertical-align: middle;
}

mcTableHeadStyle
{
	span: 1;
	id: 2;
	name: Header1;
	text-align: left;
	vertical-align: middle;
	cell-content-style-tag: p;
	cell-content-style-class: s_signalword_HINWEIS;
	background-color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	cell-padding-bottom: 3px;
	background-color: #ffffff;
}


/* Cell Styles: */
 
.TableStyle-Hinweis
{
	border-collapse: collapse;
	border-top-style: solid;
	border-top-color: #004488;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #004488;
	border-bottom-width: 2px;
	margin-top: 12px;
	margin-bottom: 12px;
	page-break-inside: avoid;
	column-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Hinweis-Column-Symbol
{
	width: 20mm;
}

.TableStyle-Hinweis-Column-Text
{
	
}

.TableStyle-Hinweis-Head-Header1
{
	
}

.TableStyle-Hinweis-HeadI-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadI-Symbol-Header1 p
{
	
}

.TableStyle-Hinweis-HeadE-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadE-Symbol-Header1 p
{
	
}

.TableStyle-Hinweis-HeadF-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadF-Symbol-Header1 p
{
	
}

.TableStyle-Hinweis-HeadH-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadH-Symbol-Header1 p
{
	
}

.TableStyle-Hinweis-HeadD-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadD-Symbol-Header1 p
{
	
}

.TableStyle-Hinweis-HeadC-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadC-Symbol-Header1 p
{
	
}

.TableStyle-Hinweis-HeadB-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadB-Symbol-Header1 p
{
	
}

.TableStyle-Hinweis-HeadA-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadA-Symbol-Header1 p
{
	
}

.TableStyle-Hinweis-HeadG-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadG-Symbol-Header1 p
{
	
}

.TableStyle-Hinweis-HeadI-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadI-Text-Header1 p
{
	
}

.TableStyle-Hinweis-HeadE-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadE-Text-Header1 p
{
	
}

.TableStyle-Hinweis-HeadF-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadF-Text-Header1 p
{
	
}

.TableStyle-Hinweis-HeadH-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadH-Text-Header1 p
{
	
}

.TableStyle-Hinweis-HeadD-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadD-Text-Header1 p
{
	
}

.TableStyle-Hinweis-HeadC-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadC-Text-Header1 p
{
	
}

.TableStyle-Hinweis-HeadB-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadB-Text-Header1 p
{
	
}

.TableStyle-Hinweis-HeadA-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadA-Text-Header1 p
{
	
}

.TableStyle-Hinweis-HeadG-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
}

.TableStyle-Hinweis-HeadG-Text-Header1 p
{
	
}

.TableStyle-Hinweis-FootI-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-FootI-Symbol- p
{
	
}

.TableStyle-Hinweis-FootE-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-FootE-Symbol- p
{
	
}

.TableStyle-Hinweis-FootF-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-FootF-Symbol- p
{
	
}

.TableStyle-Hinweis-FootH-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-FootH-Symbol- p
{
	
}

.TableStyle-Hinweis-FootD-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-FootD-Symbol- p
{
	
}

.TableStyle-Hinweis-FootC-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-FootC-Symbol- p
{
	
}

.TableStyle-Hinweis-FootB-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-FootB-Symbol- p
{
	
}

.TableStyle-Hinweis-FootA-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-FootA-Symbol- p
{
	
}

.TableStyle-Hinweis-FootG-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-FootG-Symbol- p
{
	
}

.TableStyle-Hinweis-FootI-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-FootI-Text- p
{
	
}

.TableStyle-Hinweis-FootE-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-FootE-Text- p
{
	
}

.TableStyle-Hinweis-FootF-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-FootF-Text- p
{
	
}

.TableStyle-Hinweis-FootH-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-FootH-Text- p
{
	
}

.TableStyle-Hinweis-FootD-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-FootD-Text- p
{
	
}

.TableStyle-Hinweis-FootC-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-FootC-Text- p
{
	
}

.TableStyle-Hinweis-FootB-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-FootB-Text- p
{
	
}

.TableStyle-Hinweis-FootA-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-FootA-Text- p
{
	
}

.TableStyle-Hinweis-FootG-Text-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-FootG-Text- p
{
	
}

.TableStyle-Hinweis-Body-Body1
{
	
}

.TableStyle-Hinweis-BodyI-Symbol-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-BodyI-Symbol-Body1 p
{
	
}

.TableStyle-Hinweis-BodyE-Symbol-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-BodyE-Symbol-Body1 p
{
	
}

.TableStyle-Hinweis-BodyF-Symbol-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-BodyF-Symbol-Body1 p
{
	
}

.TableStyle-Hinweis-BodyH-Symbol-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-BodyH-Symbol-Body1 p
{
	
}

.TableStyle-Hinweis-BodyD-Symbol-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-BodyD-Symbol-Body1 p
{
	
}

.TableStyle-Hinweis-BodyC-Symbol-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-BodyC-Symbol-Body1 p
{
	
}

.TableStyle-Hinweis-BodyB-Symbol-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-BodyB-Symbol-Body1 p
{
	
}

.TableStyle-Hinweis-BodyA-Symbol-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-BodyA-Symbol-Body1 p
{
	
}

.TableStyle-Hinweis-BodyG-Symbol-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Hinweis-BodyG-Symbol-Body1 p
{
	
}

.TableStyle-Hinweis-BodyI-Text-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-BodyI-Text-Body1 p
{
	
}

.TableStyle-Hinweis-BodyE-Text-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-BodyE-Text-Body1 p
{
	
}

.TableStyle-Hinweis-BodyF-Text-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-BodyF-Text-Body1 p
{
	
}

.TableStyle-Hinweis-BodyH-Text-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-BodyH-Text-Body1 p
{
	
}

.TableStyle-Hinweis-BodyD-Text-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-BodyD-Text-Body1 p
{
	
}

.TableStyle-Hinweis-BodyC-Text-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-BodyC-Text-Body1 p
{
	
}

.TableStyle-Hinweis-BodyB-Text-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-BodyB-Text-Body1 p
{
	
}

.TableStyle-Hinweis-BodyA-Text-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-BodyA-Text-Body1 p
{
	
}

.TableStyle-Hinweis-BodyG-Text-Body1
{
	background-color: #ffffff;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-Hinweis-BodyG-Text-Body1 p
{
	
}


