/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: pepper-Tabelle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	max-id: 5;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	margin-top: 16px;
	margin-bottom: 16px;
	frame-break-inside: avoid;
	background-color: #cdcfcf;
	width: 100%;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	background-color: #69b43e;
	color: #ffffff;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	background-color: #f2f2f2;
	page-break-inside: avoid;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #d9d9d9;
	page-break-inside: avoid;
	column-break-inside: avoid;
	frame-break-inside: avoid;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
	size: 1px;
	cell-padding-bottom: 10px;
}


/* Cell Styles: */
 
.TableStyle-pepper-Tabelle
{
	border-collapse: collapse;
	background-color: #cdcfcf;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	margin-top: 16px;
	margin-bottom: 16px;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-pepper-Tabelle-Column-Column1
{
	
}

.TableStyle-pepper-Tabelle-Head-Header1
{
	
}

.TableStyle-pepper-Tabelle-HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #69b43e;
}

.TableStyle-pepper-Tabelle-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-pepper-Tabelle-HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #69b43e;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-pepper-Tabelle-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-pepper-Tabelle-HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #69b43e;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-pepper-Tabelle-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-pepper-Tabelle-HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #69b43e;
}

.TableStyle-pepper-Tabelle-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-pepper-Tabelle-HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #69b43e;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-pepper-Tabelle-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-pepper-Tabelle-HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #69b43e;
}

.TableStyle-pepper-Tabelle-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-pepper-Tabelle-HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #69b43e;
}

.TableStyle-pepper-Tabelle-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-pepper-Tabelle-HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #69b43e;
}

.TableStyle-pepper-Tabelle-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-pepper-Tabelle-HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #69b43e;
}

.TableStyle-pepper-Tabelle-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-pepper-Tabelle-Foot-Footer1
{
	height: 1px;
}

.TableStyle-pepper-Tabelle-FootI-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-pepper-Tabelle-FootI-Column1-Footer1 p
{
	
}

.TableStyle-pepper-Tabelle-FootE-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-pepper-Tabelle-FootE-Column1-Footer1 p
{
	
}

.TableStyle-pepper-Tabelle-FootF-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-pepper-Tabelle-FootF-Column1-Footer1 p
{
	
}

.TableStyle-pepper-Tabelle-FootH-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-bottom: 10px;
}

.TableStyle-pepper-Tabelle-FootH-Column1-Footer1 p
{
	
}

.TableStyle-pepper-Tabelle-FootD-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-pepper-Tabelle-FootD-Column1-Footer1 p
{
	
}

.TableStyle-pepper-Tabelle-FootC-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-pepper-Tabelle-FootC-Column1-Footer1 p
{
	
}

.TableStyle-pepper-Tabelle-FootB-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-bottom: 10px;
}

.TableStyle-pepper-Tabelle-FootB-Column1-Footer1 p
{
	
}

.TableStyle-pepper-Tabelle-FootA-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-pepper-Tabelle-FootA-Column1-Footer1 p
{
	
}

.TableStyle-pepper-Tabelle-FootG-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-pepper-Tabelle-FootG-Column1-Footer1 p
{
	
}

.TableStyle-pepper-Tabelle-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-pepper-Tabelle-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f2f2f2;
}

.TableStyle-pepper-Tabelle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-pepper-Tabelle-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f2f2f2;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-pepper-Tabelle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-pepper-Tabelle-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f2f2f2;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-pepper-Tabelle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-pepper-Tabelle-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f2f2f2;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-pepper-Tabelle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-pepper-Tabelle-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f2f2f2;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-pepper-Tabelle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-pepper-Tabelle-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f2f2f2;
}

.TableStyle-pepper-Tabelle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-pepper-Tabelle-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f2f2f2;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-pepper-Tabelle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-pepper-Tabelle-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f2f2f2;
}

.TableStyle-pepper-Tabelle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-pepper-Tabelle-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #f2f2f2;
}

.TableStyle-pepper-Tabelle-BodyG-Column1-Body1 p
{
	
}

.TableStyle-pepper-Tabelle-Body-Body2
{
	page-break-inside: avoid;
	column-break-inside: avoid;
	frame-break-inside: avoid;
}

.TableStyle-pepper-Tabelle-BodyI-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d9d9d9;
}

.TableStyle-pepper-Tabelle-BodyI-Column1-Body2 p
{
	
}

.TableStyle-pepper-Tabelle-BodyE-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d9d9d9;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-pepper-Tabelle-BodyE-Column1-Body2 p
{
	
}

.TableStyle-pepper-Tabelle-BodyF-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d9d9d9;
}

.TableStyle-pepper-Tabelle-BodyF-Column1-Body2 p
{
	
}

.TableStyle-pepper-Tabelle-BodyH-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d9d9d9;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-pepper-Tabelle-BodyH-Column1-Body2 p
{
	
}

.TableStyle-pepper-Tabelle-BodyD-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d9d9d9;
}

.TableStyle-pepper-Tabelle-BodyD-Column1-Body2 p
{
	
}

.TableStyle-pepper-Tabelle-BodyC-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d9d9d9;
}

.TableStyle-pepper-Tabelle-BodyC-Column1-Body2 p
{
	
}

.TableStyle-pepper-Tabelle-BodyB-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d9d9d9;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-pepper-Tabelle-BodyB-Column1-Body2 p
{
	
}

.TableStyle-pepper-Tabelle-BodyA-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d9d9d9;
}

.TableStyle-pepper-Tabelle-BodyA-Column1-Body2 p
{
	
}

.TableStyle-pepper-Tabelle-BodyG-Column1-Body2
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #d9d9d9;
}

.TableStyle-pepper-Tabelle-BodyG-Column1-Body2 p
{
	
}


