﻿/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Standard-Tabelle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	max-id: 3;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	margin-top: 16px;
	margin-bottom: 16px;
	frame-break-inside: avoid;
	column-break-inside: avoid;
	width: 100%;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Header1;
	id: 2;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Body1;
	id: 1;
	column-break-inside: avoid;
	page-break-inside: avoid;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Footer1;
	id: 3;
	size: 1px;
	cell-padding-bottom: 10px;
}


/* Cell Styles: */
 
.TableStyle-Standard-Tabelle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-top: 16px;
	margin-bottom: 16px;
	column-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Standard-Tabelle-Column-Column1
{
	
}

.TableStyle-Standard-Tabelle-Head-Header1
{
	
}

.TableStyle-Standard-Tabelle-HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

.TableStyle-Standard-Tabelle-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Standard-Tabelle-HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-Standard-Tabelle-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Standard-Tabelle-HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-Standard-Tabelle-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Standard-Tabelle-HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: left;
}

.TableStyle-Standard-Tabelle-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Standard-Tabelle-HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-Standard-Tabelle-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Standard-Tabelle-HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

.TableStyle-Standard-Tabelle-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Standard-Tabelle-HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: left;
}

.TableStyle-Standard-Tabelle-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Standard-Tabelle-HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

.TableStyle-Standard-Tabelle-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Standard-Tabelle-HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

.TableStyle-Standard-Tabelle-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Standard-Tabelle-Foot-Footer1
{
	height: 1px;
}

.TableStyle-Standard-Tabelle-FootI-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Standard-Tabelle-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Standard-Tabelle-FootE-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-style: solid;
}

.TableStyle-Standard-Tabelle-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Standard-Tabelle-FootF-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-style: solid;
}

.TableStyle-Standard-Tabelle-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Standard-Tabelle-FootH-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	padding-bottom: 10px;
}

.TableStyle-Standard-Tabelle-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Standard-Tabelle-FootD-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-style: solid;
}

.TableStyle-Standard-Tabelle-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Standard-Tabelle-FootC-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Standard-Tabelle-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Standard-Tabelle-FootB-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	padding-bottom: 10px;
}

.TableStyle-Standard-Tabelle-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Standard-Tabelle-FootA-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Standard-Tabelle-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Standard-Tabelle-FootG-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Standard-Tabelle-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Standard-Tabelle-Body-Body1
{
	page-break-inside: avoid;
	column-break-inside: avoid;
}

.TableStyle-Standard-Tabelle-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Standard-Tabelle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Standard-Tabelle-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Standard-Tabelle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Standard-Tabelle-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-Standard-Tabelle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Standard-Tabelle-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Standard-Tabelle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Standard-Tabelle-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-Standard-Tabelle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Standard-Tabelle-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Standard-Tabelle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Standard-Tabelle-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Standard-Tabelle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Standard-Tabelle-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Standard-Tabelle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Standard-Tabelle-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Standard-Tabelle-BodyG-Column1-Body1 p
{
	
}

