/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Vorsicht;
	border-spacing-y: 0;
	border-spacing-x: 0;
	border-collapse: collapse;
	max-id: 4;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ffe100;
	margin-top: 16px;
	margin-bottom: 24px;
	frame-break-inside: avoid;
	page-break-inside: avoid;
	column-break-inside: avoid;
}

mcTableColumnStyle
{
	span: 1;
	id: 0;
	name: Symbol;
	size: 20mm;
	text-align: center;
	cell-content-style-class: s_signalword;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 3;
	name: Text;
}

mcTableHeadStyle
{
	span: 1;
	id: 2;
	name: Header1;
	background-color: #ffe100;
	text-align: left;
	vertical-align: middle;
	cell-content-style-tag: p;
	cell-content-style-class: s_signalword;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	cell-padding-bottom: 3px;
}


/* Cell Styles: */
 
.TableStyle-Vorsicht
{
	border-collapse: collapse;
	border-bottom-style: solid;
	border-bottom-color: #ffe100;
	border-bottom-width: 2px;
	margin-top: 16px;
	margin-bottom: 24px;
	page-break-inside: avoid;
	column-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Vorsicht-Column-Symbol
{
	width: 20mm;
}

.TableStyle-Vorsicht-Column-Text
{
	
}

.TableStyle-Vorsicht-Head-Header1
{
	
}

.TableStyle-Vorsicht-HeadI-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadI-Symbol-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadE-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadE-Symbol-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadF-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadF-Symbol-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadH-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadH-Symbol-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadD-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadD-Symbol-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadC-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadC-Symbol-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadB-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadB-Symbol-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadA-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadA-Symbol-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadG-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadG-Symbol-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadI-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadI-Text-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadE-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadE-Text-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadF-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadF-Text-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadH-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadH-Text-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadD-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadD-Text-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadC-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadC-Text-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadB-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadB-Text-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadA-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadA-Text-Header1 p
{
	
}

.TableStyle-Vorsicht-HeadG-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffe100;
}

.TableStyle-Vorsicht-HeadG-Text-Header1 p
{
	
}

.TableStyle-Vorsicht-FootI-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-FootI-Symbol- p
{
	
}

.TableStyle-Vorsicht-FootE-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-FootE-Symbol- p
{
	
}

.TableStyle-Vorsicht-FootF-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-FootF-Symbol- p
{
	
}

.TableStyle-Vorsicht-FootH-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-FootH-Symbol- p
{
	
}

.TableStyle-Vorsicht-FootD-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-FootD-Symbol- p
{
	
}

.TableStyle-Vorsicht-FootC-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-FootC-Symbol- p
{
	
}

.TableStyle-Vorsicht-FootB-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-FootB-Symbol- p
{
	
}

.TableStyle-Vorsicht-FootA-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-FootA-Symbol- p
{
	
}

.TableStyle-Vorsicht-FootG-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-FootG-Symbol- p
{
	
}

.TableStyle-Vorsicht-FootI-Text-
{
	
}

.TableStyle-Vorsicht-FootI-Text- p
{
	
}

.TableStyle-Vorsicht-FootE-Text-
{
	
}

.TableStyle-Vorsicht-FootE-Text- p
{
	
}

.TableStyle-Vorsicht-FootF-Text-
{
	
}

.TableStyle-Vorsicht-FootF-Text- p
{
	
}

.TableStyle-Vorsicht-FootH-Text-
{
	
}

.TableStyle-Vorsicht-FootH-Text- p
{
	
}

.TableStyle-Vorsicht-FootD-Text-
{
	
}

.TableStyle-Vorsicht-FootD-Text- p
{
	
}

.TableStyle-Vorsicht-FootC-Text-
{
	
}

.TableStyle-Vorsicht-FootC-Text- p
{
	
}

.TableStyle-Vorsicht-FootB-Text-
{
	
}

.TableStyle-Vorsicht-FootB-Text- p
{
	
}

.TableStyle-Vorsicht-FootA-Text-
{
	
}

.TableStyle-Vorsicht-FootA-Text- p
{
	
}

.TableStyle-Vorsicht-FootG-Text-
{
	
}

.TableStyle-Vorsicht-FootG-Text- p
{
	
}

.TableStyle-Vorsicht-Body-Body1
{
	
}

.TableStyle-Vorsicht-BodyI-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-BodyI-Symbol-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyE-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-BodyE-Symbol-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyF-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-BodyF-Symbol-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyH-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-BodyH-Symbol-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyD-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-BodyD-Symbol-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyC-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-BodyC-Symbol-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyB-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-BodyB-Symbol-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyA-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-BodyA-Symbol-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyG-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Vorsicht-BodyG-Symbol-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyI-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Vorsicht-BodyI-Text-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyE-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Vorsicht-BodyE-Text-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyF-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Vorsicht-BodyF-Text-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyH-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Vorsicht-BodyH-Text-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyD-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Vorsicht-BodyD-Text-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyC-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Vorsicht-BodyC-Text-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyB-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Vorsicht-BodyB-Text-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyA-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Vorsicht-BodyA-Text-Body1 p
{
	
}

.TableStyle-Vorsicht-BodyG-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Vorsicht-BodyG-Text-Body1 p
{
	
}


