/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Warnung;
	border-spacing-y: 0;
	border-spacing-x: 0;
	border-collapse: collapse;
	max-id: 3;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ff7901;
	margin-top: 16px;
	margin-bottom: 24px;
	frame-break-inside: avoid;
	page-break-inside: avoid;
	column-break-inside: avoid;
}

mcTableColumnStyle
{
	span: 1;
	name: Symbol;
	id: 0;
	size: 20mm;
	text-align: center;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 3;
	name: Text;
}

mcTableHeadStyle
{
	span: 1;
	id: 2;
	name: Header1;
	background-color: #ff7900;
	text-align: left;
	vertical-align: middle;
	cell-content-style-tag: p;
	cell-content-style-class: s_signalword;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	cell-padding-bottom: 3px;
}


/* Cell Styles: */
 
.TableStyle-Warnung
{
	border-collapse: collapse;
	border-bottom-style: solid;
	border-bottom-color: #ff7901;
	border-bottom-width: 2px;
	margin-top: 16px;
	margin-bottom: 24px;
	page-break-inside: avoid;
	column-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Warnung-Column-Symbol
{
	width: 20mm;
}

.TableStyle-Warnung-Column-Text
{
	
}

.TableStyle-Warnung-Head-Header1
{
	
}

.TableStyle-Warnung-HeadI-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadI-Symbol-Header1 p
{
	
}

.TableStyle-Warnung-HeadE-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadE-Symbol-Header1 p
{
	
}

.TableStyle-Warnung-HeadF-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadF-Symbol-Header1 p
{
	
}

.TableStyle-Warnung-HeadH-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadH-Symbol-Header1 p
{
	
}

.TableStyle-Warnung-HeadD-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadD-Symbol-Header1 p
{
	
}

.TableStyle-Warnung-HeadC-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadC-Symbol-Header1 p
{
	
}

.TableStyle-Warnung-HeadB-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadB-Symbol-Header1 p
{
	
}

.TableStyle-Warnung-HeadA-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadA-Symbol-Header1 p
{
	
}

.TableStyle-Warnung-HeadG-Symbol-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadG-Symbol-Header1 p
{
	
}

.TableStyle-Warnung-HeadI-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadI-Text-Header1 p
{
	
}

.TableStyle-Warnung-HeadE-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadE-Text-Header1 p
{
	
}

.TableStyle-Warnung-HeadF-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadF-Text-Header1 p
{
	
}

.TableStyle-Warnung-HeadH-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadH-Text-Header1 p
{
	
}

.TableStyle-Warnung-HeadD-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadD-Text-Header1 p
{
	
}

.TableStyle-Warnung-HeadC-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadC-Text-Header1 p
{
	
}

.TableStyle-Warnung-HeadB-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadB-Text-Header1 p
{
	
}

.TableStyle-Warnung-HeadA-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadA-Text-Header1 p
{
	
}

.TableStyle-Warnung-HeadG-Text-Header1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ff7900;
}

.TableStyle-Warnung-HeadG-Text-Header1 p
{
	
}

.TableStyle-Warnung-FootI-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-FootI-Symbol- p
{
	
}

.TableStyle-Warnung-FootE-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-FootE-Symbol- p
{
	
}

.TableStyle-Warnung-FootF-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-FootF-Symbol- p
{
	
}

.TableStyle-Warnung-FootH-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-FootH-Symbol- p
{
	
}

.TableStyle-Warnung-FootD-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-FootD-Symbol- p
{
	
}

.TableStyle-Warnung-FootC-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-FootC-Symbol- p
{
	
}

.TableStyle-Warnung-FootB-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-FootB-Symbol- p
{
	
}

.TableStyle-Warnung-FootA-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-FootA-Symbol- p
{
	
}

.TableStyle-Warnung-FootG-Symbol-
{
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-FootG-Symbol- p
{
	
}

.TableStyle-Warnung-FootI-Text-
{
	
}

.TableStyle-Warnung-FootI-Text- p
{
	
}

.TableStyle-Warnung-FootE-Text-
{
	
}

.TableStyle-Warnung-FootE-Text- p
{
	
}

.TableStyle-Warnung-FootF-Text-
{
	
}

.TableStyle-Warnung-FootF-Text- p
{
	
}

.TableStyle-Warnung-FootH-Text-
{
	
}

.TableStyle-Warnung-FootH-Text- p
{
	
}

.TableStyle-Warnung-FootD-Text-
{
	
}

.TableStyle-Warnung-FootD-Text- p
{
	
}

.TableStyle-Warnung-FootC-Text-
{
	
}

.TableStyle-Warnung-FootC-Text- p
{
	
}

.TableStyle-Warnung-FootB-Text-
{
	
}

.TableStyle-Warnung-FootB-Text- p
{
	
}

.TableStyle-Warnung-FootA-Text-
{
	
}

.TableStyle-Warnung-FootA-Text- p
{
	
}

.TableStyle-Warnung-FootG-Text-
{
	
}

.TableStyle-Warnung-FootG-Text- p
{
	
}

.TableStyle-Warnung-Body-Body1
{
	
}

.TableStyle-Warnung-BodyI-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-BodyI-Symbol-Body1 p
{
	
}

.TableStyle-Warnung-BodyE-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-BodyE-Symbol-Body1 p
{
	
}

.TableStyle-Warnung-BodyF-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-BodyF-Symbol-Body1 p
{
	
}

.TableStyle-Warnung-BodyH-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-BodyH-Symbol-Body1 p
{
	
}

.TableStyle-Warnung-BodyD-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-BodyD-Symbol-Body1 p
{
	
}

.TableStyle-Warnung-BodyC-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-BodyC-Symbol-Body1 p
{
	
}

.TableStyle-Warnung-BodyB-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-BodyB-Symbol-Body1 p
{
	
}

.TableStyle-Warnung-BodyA-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-BodyA-Symbol-Body1 p
{
	
}

.TableStyle-Warnung-BodyG-Symbol-Body1
{
	padding-bottom: 3px;
	text-align: center;
	vertical-align: top;
}

.TableStyle-Warnung-BodyG-Symbol-Body1 p
{
	
}

.TableStyle-Warnung-BodyI-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Warnung-BodyI-Text-Body1 p
{
	
}

.TableStyle-Warnung-BodyE-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Warnung-BodyE-Text-Body1 p
{
	
}

.TableStyle-Warnung-BodyF-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Warnung-BodyF-Text-Body1 p
{
	
}

.TableStyle-Warnung-BodyH-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Warnung-BodyH-Text-Body1 p
{
	
}

.TableStyle-Warnung-BodyD-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Warnung-BodyD-Text-Body1 p
{
	
}

.TableStyle-Warnung-BodyC-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Warnung-BodyC-Text-Body1 p
{
	
}

.TableStyle-Warnung-BodyB-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Warnung-BodyB-Text-Body1 p
{
	
}

.TableStyle-Warnung-BodyA-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Warnung-BodyA-Text-Body1 p
{
	
}

.TableStyle-Warnung-BodyG-Text-Body1
{
	padding-bottom: 3px;
}

.TableStyle-Warnung-BodyG-Text-Body1 p
{
	
}


