/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Wartungs-Tabelle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	max-id: 5;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	margin-top: 16px;
	margin-bottom: 16px;
	frame-break-inside: avoid;
	background-color: #cdcfcf;
	width: 100%;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
	type: Automatic;
	size: 150px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Spalte1;
	type: Automatic;
	size: 150px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Spalte2;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	background-color: #8fc76f;
	color: #ffffff;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
	size: 1px;
	cell-padding-bottom: 10px;
}


/* Cell Styles: */
 
.TableStyle-Wartungs-Tabelle
{
	border-collapse: collapse;
	background-color: #cdcfcf;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 1px;
	margin-top: 16px;
	margin-bottom: 16px;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Wartungs-Tabelle-Column-Column1
{
	width: 150px;
}

.TableStyle-Wartungs-Tabelle-Column-Spalte1
{
	width: 150px;
}

.TableStyle-Wartungs-Tabelle-Column-Spalte2
{
	
}

.TableStyle-Wartungs-Tabelle-Head-Header1
{
	
}

.TableStyle-Wartungs-Tabelle-HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadI-Spalte1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadI-Spalte1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadE-Spalte1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-HeadE-Spalte1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadF-Spalte1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-HeadF-Spalte1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadH-Spalte1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadH-Spalte1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadD-Spalte1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-HeadD-Spalte1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadC-Spalte1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadC-Spalte1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadB-Spalte1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadB-Spalte1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadA-Spalte1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadA-Spalte1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadG-Spalte1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadG-Spalte1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadI-Spalte2-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadI-Spalte2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadE-Spalte2-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-HeadE-Spalte2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadF-Spalte2-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-HeadF-Spalte2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadH-Spalte2-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadH-Spalte2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadD-Spalte2-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-HeadD-Spalte2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadC-Spalte2-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadC-Spalte2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadB-Spalte2-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadB-Spalte2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadA-Spalte2-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadA-Spalte2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-HeadG-Spalte2-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: left;
	background-color: #8fc76f;
}

.TableStyle-Wartungs-Tabelle-HeadG-Spalte2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Wartungs-Tabelle-Foot-Footer1
{
	height: 1px;
}

.TableStyle-Wartungs-Tabelle-FootI-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootE-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Wartungs-Tabelle-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootF-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Wartungs-Tabelle-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootH-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootD-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Wartungs-Tabelle-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootC-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootB-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootA-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootG-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootI-Spalte1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootI-Spalte1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootE-Spalte1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Wartungs-Tabelle-FootE-Spalte1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootF-Spalte1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Wartungs-Tabelle-FootF-Spalte1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootH-Spalte1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootH-Spalte1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootD-Spalte1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Wartungs-Tabelle-FootD-Spalte1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootC-Spalte1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootC-Spalte1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootB-Spalte1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootB-Spalte1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootA-Spalte1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootA-Spalte1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootG-Spalte1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootG-Spalte1-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootI-Spalte2-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootI-Spalte2-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootE-Spalte2-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Wartungs-Tabelle-FootE-Spalte2-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootF-Spalte2-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Wartungs-Tabelle-FootF-Spalte2-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootH-Spalte2-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootH-Spalte2-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootD-Spalte2-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Wartungs-Tabelle-FootD-Spalte2-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootC-Spalte2-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootC-Spalte2-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootB-Spalte2-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootB-Spalte2-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootA-Spalte2-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootA-Spalte2-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-FootG-Spalte2-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 10px;
}

.TableStyle-Wartungs-Tabelle-FootG-Spalte2-Footer1 p
{
	
}

.TableStyle-Wartungs-Tabelle-Body-Body1
{
	
}

.TableStyle-Wartungs-Tabelle-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyI-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyI-Spalte1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyE-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyE-Spalte1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyF-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyF-Spalte1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyH-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyH-Spalte1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyD-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyD-Spalte1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyC-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyC-Spalte1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyB-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyB-Spalte1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyA-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyA-Spalte1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyG-Spalte1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyG-Spalte1-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyI-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyI-Spalte2-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyE-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyE-Spalte2-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyF-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyF-Spalte2-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyH-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyH-Spalte2-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyD-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Wartungs-Tabelle-BodyD-Spalte2-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyC-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyC-Spalte2-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyB-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyB-Spalte2-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyA-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyA-Spalte2-Body1 p
{
	
}

.TableStyle-Wartungs-Tabelle-BodyG-Spalte2-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-Wartungs-Tabelle-BodyG-Spalte2-Body1 p
{
	
}


