/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Weiss ohne Linie;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 3;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	margin-top: 16px;
	margin-bottom: 16px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #ffffff;
	color: #ffffff;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
	text-align: center;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	size: 1px;
	cell-padding-bottom: 10px;
	text-align: center;
}


/* Cell Styles: */
 
.TableStyle-Weiss_ohne_Linie
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	margin-top: 16px;
	margin-bottom: 16px;
	border-spacing: 0px 0px;
}

.TableStyle-Weiss_ohne_Linie-Column-Column1
{
	
}

.TableStyle-Weiss_ohne_Linie-Head-Header1
{
	
}

.TableStyle-Weiss_ohne_Linie-HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Weiss_ohne_Linie-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Weiss_ohne_Linie-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Weiss_ohne_Linie-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Weiss_ohne_Linie-Foot-Footer1
{
	height: 1px;
}

.TableStyle-Weiss_ohne_Linie-FootI-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	text-align: center;
	padding-bottom: 10px;
}

.TableStyle-Weiss_ohne_Linie-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-FootE-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	padding-bottom: 10px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Weiss_ohne_Linie-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-FootF-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	text-align: center;
	padding-bottom: 10px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Weiss_ohne_Linie-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-FootH-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	padding-bottom: 10px;
}

.TableStyle-Weiss_ohne_Linie-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-FootD-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	text-align: center;
	padding-bottom: 10px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Weiss_ohne_Linie-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-FootC-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	text-align: center;
	padding-bottom: 10px;
}

.TableStyle-Weiss_ohne_Linie-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-FootB-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
	padding-bottom: 10px;
}

.TableStyle-Weiss_ohne_Linie-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-FootA-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	text-align: center;
	padding-bottom: 10px;
}

.TableStyle-Weiss_ohne_Linie-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-FootG-Column1-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	text-align: center;
	padding-bottom: 10px;
}

.TableStyle-Weiss_ohne_Linie-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-Weiss_ohne_Linie-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.TableStyle-Weiss_ohne_Linie-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Weiss_ohne_Linie-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Weiss_ohne_Linie-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Weiss_ohne_Linie-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Weiss_ohne_Linie-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.TableStyle-Weiss_ohne_Linie-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Weiss_ohne_Linie-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.TableStyle-Weiss_ohne_Linie-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Weiss_ohne_Linie-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.TableStyle-Weiss_ohne_Linie-BodyG-Column1-Body1 p
{
	
}


