/*<meta />*/

@font-face 
{
	font-family: "Open Sans";
	src: url(../Fonts/OpenSans-Regular.ttf);
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|xref.Abbildung
{
	color: #000000;
	text-decoration: none;
}

MadCap|xref.Tabelle
{
	text-decoration: none;
	color: #000000;
}

:root
{
	--Schriftfarbe_pepper: #373F43;
	--Schriftart_pepper: 'Open Sans';
}

body
{
	font-family: var(--Schriftart_pepper);
	color: var(--Schriftfarbe_pepper);
}

p ~ p.handlungsanweisung
{
	padding-top: 6px;
}

h1
{
	margin-bottom: 7pt;
	margin-top: 18pt;
	mc-auto-number-format: 'CH:{n+} ';
}

h2
{
	margin-bottom: 7pt;
	margin-top: 18pt;
	mc-auto-number-format: 'CH:{n}.{n+} ';
}

h3
{
	margin-bottom: 7pt;
	margin-top: 18pt;
	mc-auto-number-format: 'CH:{n}.{n}.{n+} ';
}

h4
{
	margin-bottom: 7pt;
	margin-top: 18pt;
	mc-auto-number-format: 'CH:{n}.{n}.{n}.{n+} ';
}

h5
{
	margin-bottom: 7pt;
	margin-top: 18pt;
}

li.voraussetzung
{
	list-style-image: url('../Images/01_Allgemein/Voraussetzung.png');
	margin-left: -17px;
}

p.handlungsanweisung
{
	mc-auto-number-position: outside-head;
	mc-auto-number-format: '{n+}.';
	mc-auto-number-offset: 15pt;
}

@media print
{
	MadCap|xref.Abbildung
	{
		mc-format: '{paranumonly}';
		color: #0000ff;
		text-decoration: underline;
	}

	MadCap|xref.Tabelle
	{
		mc-format: '{paranumonly}';
		color: #0000ff;
		text-decoration: underline;
	}

	caption
	{
		mc-auto-number-format: 'GT:Tab. {n+}: ';
	}

	table
	{
		caption-side: bottom;
	}

	p.IndexHeading
	{
		font-size: 10pt;
	}

	p.Abb
	{
		font-size: 10pt;
		font-weight: bold;
		mc-auto-number-format: 'GA:Abb. {n+}: ';
	}

	:root
	{
		
	}

	div.gruppieren
	{
		page-break-inside: avoid;
	}

	div.Abbildung_Handlungsschritt
	{
		page-break-inside: avoid;
		padding-left: 16px;
	}

	p.handlungsanweisung ~ p.handlungsanweisung
	{
		
	}

	MadCap|xref
	{
		mc-format: '{i}{paratext}{/i} auf Seite {page}';
	}

	div.grupp_abb
	{
		page-break-inside: avoid;
	}

	li.voraussetzung
	{
		
	}

	p.h1_Verzeichnis
	{
		font-size: 16pt;
		font-weight: bold;
		mc-heading-level: 1;
		page-break-after: avoid;
		page-break-before: always;
		margin-bottom: 1.12em;
		margin-top: 1.12em;
		page-break-inside: avoid;
		padding-bottom: 20px;
	}
}

div.gruppieren
{
	
}

ul.Zwischenergebnis
{
	list-style-image: none;
	margin-left: 42px;
}

ul.Zwischenergebnis > li::marker
{
	font-family: 'Wingdings 3';
	content: 'Ê';
	font-size: 11pt;
}

ul.Ergebnis
{
	list-style-image: none;
	margin-left: 20px;
}

ul.Ergebnis > li::marker
{
	font-family: Wingdings;
	content: 'ü';
	vertical-align: -6px;
	font-size: 11pt;
}

span.SW-Oberflaeche
{
	font-style: italic;
}

p.handlungsanweisung ~ p.handlungsanweisung
{
	padding-top: 0px;
	padding-bottom: 0px;
}

p ~ ul
{
	margin-bottom: 6px;
	margin-top: 0px;
}

li.resultat
{
	list-style-image: url('../Images/01_Allgemein/Resultat.png');
	margin-left: -17px;
}

li.zwischenergebnis
{
	list-style-image: url('../Images/01_Allgemein/Zwischenergebnis.png');
	margin-left: 2px;
}

div.Abbildung_Handlungsschritt > p.Abb
{
	margin-bottom: 8pt;
}

div.grupp_abb
{
	margin-top: 5pt;
	padding-bottom: 5pt;
}

ul.voraussetzung
{
	list-style-image: url('../Images/01_Allgemein/Voraussetzung.png');
	margin-left: -17px;
}

