/*<meta />*/

@import url('Styles.css');

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

@media print
{
	p.Abb
	{
		mc-auto-number-format: 'GA:Fig. {n+}: ';
	}

	MadCap|xref
	{
		mc-format: '{i}{paratext}{/i} on page {page}';
	}
}

