﻿/*<meta />*/

@import url('Allgemein.css');

body
{
	font-size: 10pt;
}

h1
{
	font-weight: bold;
	font-size: 16pt;
	margin-left: 1.8 cm;
	mc-auto-number-offset: 1.8 cm;
	mc-auto-number-position: outside-head;
}

h2
{
	font-weight: bold;
	letter-spacing: 0px;
	word-spacing: 0px;
	font-size: 13pt;
	mc-auto-number-offset: 1.8 cm;
	mc-auto-number-position: outside-head;
	margin-left: 1.8 cm;
}

h3
{
	font-weight: bold;
	font-size: 12pt;
	margin-left: 1.8 cm;
	mc-auto-number-offset: 1.8 cm;
	mc-auto-number-position: outside-head;
}

h4
{
	font-weight: bold;
	mc-auto-number-offset: 1.8 cm;
	mc-auto-number-position: outside-head;
	margin-left: 1.8 cm;
	font-size: 11.0pt;
}

h5
{
	font-weight: bold;
	font-size: 11pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol,
ul,
dl
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	mc-auto-number-offset: 0px;
	padding: 0px;
	mc-auto-number-position: outside-tail;
	margin: 1px;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

th
{
	font-weight: bold;
}

td
{
	font-size: 10pt;
}

p.s_signalword
{
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 3px;
	margin-top: 3px;
	font-size: 12pt;
}

p.Ueberschrift_weiss
{
	color: #ffffff;
	font-size: 24pt;
	font-weight: bold;
}

caption
{
	margin-bottom: 0px;
	bottom: 10px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 4;
	font-size: 10pt;
	text-align: left;
	font-weight: bold;
}

caption.Tabverzeich
{
	
}

p.h1_o_nr
{
	font-size: 16pt;
	font-weight: bold;
	padding-top: 5pt;
}

p.titel_h2
{
	font-size: 13pt;
}

table
{
	
}

p.titel_h1
{
	font-size: 16;
	color: #ffffff;
}

MadCap|tocProxy
{
	border-top-width: 0;
}

MadCap|listOfProxy
{
	border-top-width: 0;
}

p.h4_o_nr
{
	font-size: 11pt;
	font-weight: bold;
}

p.s_ArtQuelle
{
	font-weight: bold;
	margin: 0em;
	margin-top: 0px;
	padding-bottom: 6px;
	margin-bottom: 0px;
	padding-top: 6px;
}

p.s_Folge
{
	margin-bottom: 6px;
}

p.s_Vermeiden
{
	margin-bottom: 0px;
}

p.list
{
	display: block;
	list-style-type: square;
}

MadCap|xref.RelLinkPageNumber
{
	mc-format: '{quote}{paratext}{quote} {pageref}';
}

MadCap|xref.Abbildung
{
	mc-format: '{paranum}';
}

img.breite_10_cm
{
	max-width: 10cm;
}

img.symbol
{
	max-width: 12mm;
	top: 1pt;
	padding-top: 9px;
}

p.s_signalword_HINWEIS
{
	font-weight: bold;
	font-size: 12pt;
}

ol
{
	margin-left: 24px;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

MadCap|miniTocProxy
{
	
}

MadCap|conceptsProxy
{
	
}

MadCap|glossaryProxy
{
	
}

MadCap|indexProxy
{
	
}

MadCap|relationshipsProxy
{
	
}

h4_o_nr
{
	font-size: 11pt;
	font-weight: bold;
}

@media print
{
	div.gruppieren
	{
		page-break-inside: avoid;
	}

	img.breite_10_cm
	{
		
	}

	p.Abb
	{
		
	}

	img
	{
		max-width: 100%;
	}

	p.h1_o_nr
	{
		page-break-before: always;
		padding-bottom: 20px;
	}

	ol
	{
		margin-bottom: 5pt;
		margin-top: 5pt;
	}

	MadCap|listOfProxy
	{
		
	}

	img.breite_25
	{
		max-width: 25%;
	}

	img.breite_50
	{
		max-width: 50%;
	}

	img.breite_75
	{
		max-width: 75%;
	}

	img.hoehe_24cm
	{
		max-height: 24cm;
	}

	img.marginalspalte
	{
		max-width: 4cm;
	}

	img.Satzspiegel
	{
		max-width: 100%;
	}

	p.h4_o_nr_marginal
	{
		font-weight: bold;
		font-style: normal;
	}
}

p.h4_o_nr_marginal
{
	
}

h4_o_nr > h4_o_nr_marginal
{
	
}

p.handlungsanweisung
{
	margin-left: 15pt;
	margin-bottom: 2px;
}

img.breite_25
{
	
}
